# The program generates this folder when it runs.
*/mcdic_mapscripter/

# Simple Cinematic Results
*/SimpleCinematicResults/

# Python generates this folder when running with multiple .py files
*/__pycache__/

# The input files which I test for program
MDMS/*test*.txt